- if user_signed_in?
  - if current_user.role == "business"
    = link_to current_user.name, edit_user_registration_path
    = link_to "Create Promotion", new_promotion_path, class:"button"
  = link_to('Logout', destroy_user_session_path, :method => :delete)
- else
  %button.button{"data-target" => "#sign_in", "data-toggle" => "modal"}Sign In 
  %button.button{"data-target" => "#sign_up_customer", "data-toggle" => "modal", :type => "button"}Sign Up 
  


