<div class="wrapper">

  <div class="row">
    <div class="col-md-6 well">
      <h3>Total Sales</h3>
      <h4><%= @sale_count %></h4>
    </div>

    <div class="col-md-6 well">
      <h3>Total Revenue</h3>
      <h4><%= @total_sum_of_all_sales %></h4>
    </div>
  </div>

  <h2>Active promotions: </h2>
  <div class="row">
    <%= render @active_promotions, partial: "promotions/promotion" %>
  </div>

  <h2> Expired promotions: </h2>
  <div class="row">
    <%= render @expired_promotions, partial: "promotions/promotion" %>
  </div>
  
  
</div>


