
body {
  font-family: "Proxima Nova";
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.wrapper {
  width: 68%;
  margin: 0 auto;
}

.container {
  background: #F5F5F5;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.button {
  border: 1px solid #9B9B9B;
  padding: .7rem 1.25rem;
  border-radius: .3rem;
  outline: none;
  background: white;
  color: #9B9B9B;
}

#sign_up_business {
  position: fixed;
  width: 120px;
  bottom: 20px;
  right: 20px;
}

header {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid #E4E4E4;
  #logo {
    float: left;
    font-size: 1.75rem;
    a {
      color: #333233;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      &:hover {
        color: #50A7C7;
      }
    }
  }
  nav {
    float: right;
    a {
      margin-left: 1.5rem;
      line-height: 2;
      list-style-type: none;
      color: #9B9B9B;
      text-decoration: none;
      &:hover {
        color: #50A7C7;
      }
    }
  }
}

.promotion-card-timer {
  font-family: helvetica;
  font-size: 23px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 25px;
}

.promotion-card-content {
  padding: 4px;
  overflow: hidden;
  .promotion-card-business {
    font-size: 18px;
  }
}

.promotion-card-image img {
  width:100%;
  height: 66.66%;
  padding: 10px 10px 0px 10px;

}

/* promotion show */

.promotion-show {
    background-color: #fff;
    padding: 0 !important;
}

.promotion-image img {
    width: 100%;
    padding: 30px;
}

.promotion-information h1 h2 {
    padding: 0px 30px 30px 30px;
}

.promotion-countdown {
    padding: 0px 30px 0px 15px;
}

.promotion-countdown h1 {
  font-size: 20px;
  padding-left: 15px;

}

.promotion-business {
  margin: 0px 0px 20px 0px;
}

.promotion-business {
  padding: 0px 30px 0px 30px;
}

.promotion-pitch {
  padding: 15px;

}

.promotion-pitch h1 {
  margin: 0px;
  padding-left: 15px;
  font-size: 20px;
}

.promotion-description {
  margin: 0px;
  font-size: 20px;
}

.promotion-description p {
  padding: 0px 30px 0px 30px;
}

.map-address {
  background-color: white;
  left: 15px;
  padding: 15px 0px 0px 0px;

  #address {
  padding: 0px 15px 15px 15px;    
    h4 {
    margin-top: 0px;
    }
  }
}

.business-location-info {
  margin-left: 0px;
  padding:0px;
}
.distance {
      margin-top: 0px;
}

.walking-time-distance {
  padding: 0px 15px 15px 15px;
}

.social-links {
  background-color: white;
  margin: 15px 0px 15px;
  padding: 15px;
}

.fa-clock-o {
  margin-right: 15px;
}

.fa-street-view {
  margin-right: 15px;
}

.stripe {
  padding: 0px;
}

.stripe-form {
  margin: 30px;
  padding: 30px;
  background-color: white;
  height: 92px;

}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}


// .promotion-card {
//   padding: 0px;
//   margin-bottom: 30px;
//   border-radius: 5px;
//   border: 1px solid grey;
// }

// .promotion-card-content {
//   position: relative;
//   padding: 0 20px 15px;
//   text-align: left;
// }

//     .promotion-card-image {
//       width: 235.5px;
//       height: 200px;
//       margin-bottom: 16px;
//       overflow: hidden;
//       border-radius: 4.5px 4.5px 0px 0px;
      
//       img {
//         height: 200px;
//       }
//     }

//     .promotion-card-content {
//       position: relative;
//       padding: 0 20px 15px;
//       text-align: left;

//       // .thumbnail-address {
//       //   width: 200px;
//       //   white-space: nowrap;
//       //   overflow: hidden;
//       //   text-overflow: ellipsis; 
//       // }

//       .promotion-card-price {
//         background-color: pink;
//       }

//       .promotion-card-pitch {
//         height: 65px;
//         margin-bottom: 10px;
//         overflow: hidden;
//         margin-bottom: 25px;
//       }

//       .promotion-card-footer {
//         position: absolute;
//         bottom: 12px;
//         width: 196px;
//         background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%);
//         padding-top: 70px;
//       }
//     }
//   }

//   .thumbnail:hover {
//     box-shadow: 0px 0px 10px 0px grey;
//   }

//   .thumbnail-link {
//     color: grey;

//     .thumbnail-title {
//       color: black;
//       margin-bottom: 0;
//     }
//   }

//   .likes {
//     margin-right: 10px;
//   }
// }
// // .promotion-card {
// //   padding: 0px;
// //   margin-bottom: 30px;
// //   border-radius: 5px;
// //   border: 1px solid grey;
// // }

// // .promotion-details {
// //   background:white ;
// //   width: 500px;
// // }

// // .promotion-image {
// //   width: 100;
// // }

@import 'map.scss';
@import 'home.scss';
@import 'promotionss.scss';