<div class="container">
  <div class= "wrapper form">
    <h1>Edit Promotion</h1>
    <%= render "form" %>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id='countdown_start' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
                $("#datetimepicker1").on("dp.change", function (e) {
                  console.log($('#datetimepicker1').data("DateTimePicker").date())
                  console.log($('#countdown_start').val())

                });
                $('#countdown_start').on('change', function(){
                  console.log($(this).val());
                });
            });
        </script>
    </div>
</div>